<h2>Register</h2>
<form autocomplete="off" novalidate class="login-form" [formGroup]="formRegister">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
  </div>
  <button mat-raised-button (click)="register()">Register</button>
</form>
<div class="redirectToLogin">
  <span>Already have an account?
    <span class="redirect" routerLink="/login">Log In</span>
  </span>
</div>
