<!-- Show user data when logged in -->
<div class="row" *ngIf="authService.playerService.playerData as player">
    <p>Email: <strong>{{player.email}}</strong> Coins: <strong>{{player.coins}}</strong> </p>
</div>
<div>
    <h1>STOCKS</h1>
    <div *ngIf="stockService.stocks$ | async; let stocks; else loading">
        <ul>
        <li *ngFor="let stock of stocks">
            Name: {{ stock.stock_name }}
            Value: {{stock.value}}
        </li>
        </ul>
        <div *ngIf="stocks.length === 0">No results, try clearing filters</div>
    </div>
</div>

<ng-template #loading>Loading&hellip;</ng-template>

