<!-- Show user data when logged in -->
<div class="row" *ngIf="authService.playerService.playerData as player">
    <p>Email: <strong>{{player.email}}</strong> Coins: <strong>{{player.coins}}</strong> </p>
    <h1>MY STOCKS</h1>
    <div *ngIf="authService.playerService.playerStocksData as myStocks; else loading">
        <ul>
        <li *ngFor="let stock of myStocks">
            Name: {{ stock.name }}
            Value: {{stock.value}}
            Quantity: {{stock.quantity_owned}}
            <button (click)="authService.sellStock(stock.name, 10, stock.value)">Sell 10</button>
        </li>
        </ul>
        <div *ngIf="myStocks.length === 0">No Stocks Owned.</div>
    </div>

</div>
<div>
    <h1>MARKET</h1>
    <div *ngIf="stockService.stocks$ | async; let stocks; else loading">
        <ul>
        <li *ngFor="let stock of stocks">
            Name: {{ stock.name }}
            Value: {{stock.value}}
            <div class="row" *ngIf="authService.playerService.playerData as player">
                <button (click)="authService.buyStock(stock.name, 10)">Buy 10</button>
            </div>
        </li>
        </ul>
        <div *ngIf="stocks.length === 0">No stocks here...</div>
    </div>
</div>
<footer>not a real market, not a real currency</footer>

<div class="row" *ngIf="authService.playerService.playerData as player">
    <div>
        <h1>LeaderBoard</h1>
        <div *ngIf="playerService.playersLeaderboard$ | async; let playersLeaderboard; else loading">
            <ul>
            <li *ngFor="let players of playersLeaderboard">
                Name: {{ players.email }}
                Value: {{players.coins}}
            </li>
            </ul>
            <div *ngIf="playersLeaderboard.length === 0">No players here...</div>
        </div>
    </div>
</div>

<ng-template #loading>Loading&hellip;</ng-template>



